/* Css document */

#HeaderPos
{
	position: fixed;
	left: 10px;
	bottom: 20px;
}
#HeadColor
{
	color: #4277f4;
}
.ShopName
{
	font-family: arial black, arial;
	font-size: 25px;
	position: absolute;
	left: 150px;
	top: 20px;
	color:white;
}
.LogoShop
{
	position: absolute;
	left: 10px;
	top: 20px;
	height: 120px;
	width: 120px;
	
}
.LogoLink
{
	
	margin-top: 80px;
	height: 3%;
	width: 3%;
}
.LogInBtn
{
	background: none;
	border: none;
	border-right: 3px solid white;
	position: absolute;
	top:20px;
	font-size: 17px;
	right: 120px;
	font-family: arial, tahoma;
	color: #ffffff;

}
.SignUpBtn
{

	background: none;
	border: none;

	position: absolute;
	top:20px;
	font-size: 16px;
	right: 45px;
	font-family: arial, tahoma;
	color: #ffffff;


}
.CartBtn
{
	
	background: none;
	border: none;
	position: absolute;
	right: 120px;
	top:50px;
	height: 3%;
	width: 3%;
	color: #ffffff;
}
.CartImg
{
	height: 70px;
	width:70px;
}

.Colum
{
	float: left;

}
.testCorousel
{
	position: absolute;
	margin-left: 550px;
	margin-top: 40px;
}
.item
{
	height: 400px;
	width: 700px;
	
}

ul, ol
{
	list-style: none;
}

.Best
{	
	clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
   ;
    margin-bottom: 15px;
    width: 100%;



}

.container
{
	width: 100%;
	padding: none;
	margin: none;
}
.BestSale-feature
{
	position: relative;
	border: 1px;
	float: left;
	opacity: 1;
	border-right: 3px solid black;
	border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left:  3px solid black;
    padding-left: 10px;
    padding-right: 10px;
  
}
.BestSale-feature img
{

	height: 365px;
	width: 365px;
}

.BestSale-item
{
	
	border: 1px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 3px solid black;
	border-top: 3px solid black;
    border-bottom: 3px solid black;

}

.BestSale-item img
{
	
	border: 5px;
	height: 150px;
	width: 150px;
	opacity: 1;

}

.Feature-Name
{
	font-family: arial, tahoma;
	font-size: 20px;
	color: red;
}
.Mini-Name
{
	font-family: arial, tahoma;
	font-size: 15px;
	color: red;
}
.BestSale-price
{
	display: inline;
	font-family: arial, tahoma;
	background: orange;
	color: white;

}
.BestSale li
{
	
	float: left;
}
.ListProduct
{

}
.container
{
	width: 100%;
}
.ProductList
{
	position: absolute;
	padding-top: 40px;
	padding-left: 20px;
	font-size: 25px;
	color: #ff6f61;
}
.BestTitle
{
	padding-left: 100px;
	font-size:25px;
	background-color: #ff6f61;
	color: white;
}


.example
{
	margin-top: -75px;
	margin-left: 400px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] 
{

	padding: 10px;
  	font-size: 17px;
  	border: 1px solid white;
  	float: left;
  	width: 70%;
  	background: white;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 5%;
  padding: 10px;
  background: #ff6f61;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #ff6f00;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}





