/* Css document */
.HeaderTitle
{
	color:#95200c;
	font-style: all; 
	font-size: 30px;
}
#HeaderAlign
{
	text-align: center;

}
#HeaderPos
{
	position: fixed;
	left: 10px;
	bottom: 20px;
}
#HeadColor
{
	color: #4277f4;
}